@import 'styles/index.scss';
@import 'styles/variables.scss';

.progress-success {
  .ending-msg {
    color: $green;
  }
}

.progress-failure {
  .ending-msg {
    color: $red;
  }
}

.progress {
  .border {
    width: 200px;
    height: 40px;
    stroke-width: 2px;
    stroke: $primary;
    fill: transparent;
  }
  
  .filling {
    width: 200px;
    height: 40px;
    fill: $primary;
    animation: fillBar 1s linear 0s normal 1 forwards;
  }
  
  @keyframes fillBar {
    0% {
      width: 0;
    }
    30% {
      width: 80px;
    }
    70% {
      width: 120px;
    }
    100% {
      width: 200px;
    }
  }
}


