body {
  background: #55b9f3;
}

.button {
  width: 250px;
  height: 250px;
  border: 0;

  &:focus {
    // CHANGE THIS TO BE MORE ACCESSIBLE
    outline: 0;
  }
}

.unpressed {
  border-radius: 50px;
  background: #55b9f3;
  box-shadow:  20px 20px 60px #489dcf, 
             -20px -20px 60px #62d5ff;
}

.pressed {
  border-radius: 50px;
  background: #55b9f3;
  box-shadow: inset 20px 20px 60px #489dcf, 
            inset -20px -20px 60px #62d5ff;
  transition: ease-in-out .5s;
}