@import 'styles/variables.scss';

body {
  background: #55b9f3;
}

.button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #55b9f3;
  border: 0;
  color: white;
  font-size: 16px;

  &:focus {
    outline: 0;
    font-weight: bold;
  }
}

.unpressed {
  animation: unpressed .1s ease forwards;
}

.pressed {
  animation: pressed .1s ease forwards;
}

@keyframes unpressed {
  from {
    box-shadow: transparent;
  }

  to {
    box-shadow:  
      5px 5px 12px #489dcf, 
      -5px -5px 12px #62d5ff;;
  }
}

@keyframes pressed {
  from {
    box-shadow: transparent;
  }

  to {
    box-shadow: 
      inset 5px 5px 12px #489dcf, 
      inset -5px -5px 12px #62d5ff;
  }
}