@import 'styles/variables.scss';

.shake-form {
  margin: 0 30px;

  .error {
    color: $red;
  }
  
  .thanks {
    color: $green;
  }

  .prompt {
    color: $primary;
  }
  
  .flex {
    display: flex;
  }
  
  .input,
  .submit {
    border-color: $primary;
    margin: 0;
  }
  
  .input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0 10px;
  }
  
  .submit {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    background: $primary;
    font-weight: bold;
    font-size: 18px;
    padding: 4px 14px;
  }
}

.shaking {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
