@import 'styles/variables.scss';

.card,
.shrink-button {
  color: $red;
}

.closed {
  overflow: hidden;
}

.opened {
  overflow: scroll;
}

.card {
  background: $secondary;
  padding: 30px;
  box-sizing: border-box;

  .heading {
    display: flex;
    justify-content: space-between;
  
    h2 {
      margin: 0;
    }
  }

  a {
    color: $primary;
  }

  aside {
    font-size: 12px;
  }

  .expand {
    padding: 8px;
    background: $red;
    border-radius: 6px;
    border: 0;
    color: $secondary;

    &:focus {
      outline-style: dotted;
      outline-width: thin;
      outline-offset: 3px;
      outline-color: $red;
    }
  }
}

.closed {
  // max-width and height must be the same as 
  // 'from' rule in enlargeCard keyframe
  max-width: 350px;
  height: 480px;
  border-radius: 6px;
}

.opened {
  animation: enlargeCard .5s cubic-bezier(.35,.78,.37,1) forwards;

  .shrink-button {
    font-size: 24px;
    background: transparent;
    border: 0;
  }
}

@keyframes enlargeCard {
  from {
    max-width: 350px;
    height: 480px;
  }

  to {
    max-width: 100%;
    height: 100vh;
  }
}
