@import 'styles/variables.scss';

.card,
.shrink-button {
  color: $red;
}

.card,
article {
  overflow: hidden;
}

.card {
  background: $secondary;
  padding: 30px;

  .heading {
    display: flex;
    justify-content: space-between;
  
    h2 {
      margin: 0;
    }
  }

  a {
    color: $primary;
  }
}

.closed {
  max-width: 30%;
  max-height: 40%;
  cursor: pointer;
  border-radius: 6px;

  article {
    height: 278px;
  }
}

.opened {
  animation: enlargeCard .5s cubic-bezier(.57,.57,.29,1.01) forwards;
  // animation-timing-function: cubic-bezier(.3,.29,.52,1);

  .shrink-button {
    font-size: 24px;
    background: transparent;
    border: 0;
  }

  article {
    animation: enlargeArticle .5s forwards;
  }
}

@keyframes enlargeCard {
  0% {
    max-width: 30%;
    max-height: 40%;
  }

  30% {
    max-width: 50%;
    max-height: 50%;
  }

  70% {
    max-width: 99%;
    max-height: 70%;
  }

  100% {
    max-width: 100%;
    max-height: 100vh;
  }
}

// @keyframes enlargeArticle {
//   0% {
//     height: 40%;
//   }

//   30% {
//     height: 50%;
//   }

//   70% {
//     height: 70%;
//   }

//   100% {
//     height: 100%;
//   }
// }
