@import 'styles/variables.scss';

.card-enlarge {
  background: $secondary;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;

  .heading {
    display: flex;
    justify-content: space-between;
  
    h2 {
      margin: 0;
    }
  }

  a {
    color: $primary;
  }

  .author {
    font-size: 12px;
  }

  .expand {
    padding: 8px;
    border-radius: 6px;
    border: 3px solid $red;
    color: $red;
    font-weight: bold;
    background: $secondary;
    cursor: pointer;

    &:focus {
      outline-style: dotted;
      outline-width: thin;
      outline-offset: 3px;
      outline-color: $red;
    }
  }
}

.card-enlarge-closed {
  // max-width and height must be the same as 
  // in the 'from' rule in enlargeCard keyframe
  max-width: 350px;
  height: 480px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
}

.card-enlarge-opened {
  overflow: scroll;
  animation: enlargeCard .7s cubic-bezier(.35,.78,.37,1) forwards;

  .shrink-button {
    font-size: 24px;
    background: transparent;
    border: 0;
    color: $red;
  }

  @keyframes enlargeCard {
    from {
      max-width: 350px;
      height: 480px;
    }
  
    to {
      max-width: 100%;
      height: 100vh;
    }
  }
  
}

