@import 'styles/variables.scss';

.menu,
.level-two {
  background: $secondary;
  border-radius: 6px;
}

.menu {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: $primary;

  li {
    list-style-type: none;
  }

  .dropdown, 
  .level-two-heading {
    text-decoration: underline;
    cursor: pointer;
  }

  .dropdown {
    font-size: 22px;
  }
}

.level-two {
  overflow: hidden;
  white-space: nowrap;
  animation: appear .2s ease-in forwards;
  position: absolute;
  line-height: 34px;
  padding: 30px 20px 20px 20px;
}

.level-three {
  animation: dropdown .2s ease-in forwards;
  padding: 0 0 0 20px;
}

@keyframes appear {
  0% {
    width: 0;
    height: 0;
  }

  90% {
    width: 100px;
    height: 100px;
  }

  100% {
    width: auto;
    height: auto;
  }
}

@keyframes dropdown {
  0% {
    width: 0;
    height: 0;
  }

  90% {
    width: 50px;
    height: 90px;
  }

  100% {
    width: auto;
    height: auto;
  }
}
