@import 'styles/variables.scss';

.accordion {
  max-width: 500px;
  overflow: hidden;
  border-radius: 6px;

  button {
    min-width: 100%;
    text-align: left;
    padding: 14px;
    border: 0;
    font-size: 16px;
    background: $red;
    color: $secondary;
    font-weight: bold;

    &:focus {
      outline-style: dotted;
      outline-width: small;
      outline-offset: 0px;
      outline-color: $secondary;
    }
    
  }

  .content {
    background: $secondary;
    font-size: 14px;

    p {
      margin: 0;
      padding: 20px;
    }
  }

  .hide {
    height: 0; 
    transition: ease-in .3s;
  }
  
  .first-show,
  .second-show,
  .third-show {
    height: 100px;
    transition: ease-out .3s;
  }
}

