@import 'styles/variables.scss';

.accordion {
  max-width: 500px;
  overflow: hidden;
  border-radius: 6px;

  button {
    min-width: 100%;
    text-align: left;
    padding: 14px;
    border: 0;
    font-size: 16px;
    background: $red;
    color: $secondary;
    font-weight: bold;
    border-bottom: 1px solid $secondary;

    &:focus {
      outline-style: dotted;
      outline-width: thin;
      outline-offset: -6px;
      outline-color: $secondary;
    }
  }

  .selection:nth-last-child(1) button {
    border-bottom: 0;
  }

  .content {
    background: $secondary;
    font-size: 14px;
    color: $red;
    overflow: auto;

    p {
      margin: 0;
      padding: 20px;
    }
  }

  .hide {
    height: 0; 
    transition: ease-in .3s;
  }
  
  .first-show,
  .second-show,
  .third-show {
    height: 130px;
    transition: ease-out .3s;
  }
}

