@import 'styles/variables.scss';

.range {
  margin: 40px;
  -webkit-appearance: none;
  appearance: none;
  width: 400px; 
  height: 25px;
  background: $primaryLight;
  border-radius: 8px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    background: $failure;
    cursor: pointer;
    border: 12px solid $primaryLight;

    &:hover { 
      margin-bottom: 40px;
      transition: ease-in-out .3s;
    }
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background: $failureDark;
    }
  }
}

.value {
  font-size: 50px;
}