@import 'styles/variables.scss';

.range {
  margin: 40px;
  -webkit-appearance: none;
  appearance: none;
  width: 400px; 
  height: 25px;
  background: $secondary;
  border-radius: 6px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    background: $red;
    cursor: pointer;
    border: 12px solid $secondary;

    &:hover { 
      transform: scale(1.2);
      transition: ease-out .3s;
    }
  }

  &:focus {
    outline-offset: 8px;
    outline-style: dashed;
    outline-color: $secondary;
  }
}

.value {
  font-size: 50px;
}