.slides {
  display: flex;
  height: 270px;
  overflow-x: scroll;
  margin: 0 70px;
}

option {
  font-size: 20px;
}

.card {
  min-width: 350px;
  margin: 30px;
}

.option1,
.card1 {
  background: red;
}

.option2,
.card2 {
  background: green;
}

.option3,
.card3 {
  background: blue;
}

.option4,
.card4 {
  background: pink;
}